<h1 class='country-name'><img
    class='country-item__image'
    src={{flags.png}}
    alt={{name.official}}
  />{{name.official}}</h1>
<p class='country-info'>
  <b>Capital:</b>
  {{capital}}
</p>
<p class='country-info'>
  <b>Population:</b>
  {{population}}
</p>

<p class='country-info'>

  <b>Languages:</b>
  {{languages}}
</p>